.inp1{
    width:200px;
    height:30px;
    border-radius: 7px;
    border: none;
}
button{
    border-color: black;
    background-color: antiquewhite;
    color: #22282a;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Hind Siliguri', sans-serif;
  }

  span{
    font-family: 'Hind Siliguri', sans-serif;
    color:white;
  }

  input{
      padding-left:18px;
  }
