*{
  padding: 0;
  margin:0;
}

@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');

.App {
  text-align: center;
}
body{
  /* background-color: grey; */
  /* background-color: #161625; */
  background-color: #22282a;
}
#ree button{
  width:85px;
  height:30px;
}
/* 
table button {
  width: 40px;
  height: 40px;
  color:red;
  background-color: black;
  border-radius: 50%;
} */

table button:hover {
border-color: greenyellow;
}

.tb{
  position: relative;
  left:36%;
  /* top:200%; */
  height:40%; 
  text-align: center;
  width:500px;
  height:500px;
  /* background-color: aqua; */

} 

.tb table{
  position:absolute;
  /* top:2%; */
  /* left:2%; */
  /* background-colonr: brown; */
  /* opacity: 0.9; */
  /* background-color: grey; */
}

#obs{
  border-color: #b31929;
  background-color: black;
  border-radius: 4px;
  color:gold;
  cursor: pointer;
  font-family: 'Hind Siliguri', sans-serif;
  /* border: none; */
}

#ep{
  border-color: #257e3a;
  background-color: black;
  border-radius: 4px;
  color:gold;
  cursor: pointer;
  font-family: 'Hind Siliguri', sans-serif;
}

#sp{
  border-color: #0d5fbc;
  background-color: black;
  border-radius: 4px;
  color:gold;
  cursor: pointer;
  font-family: 'Hind Siliguri', sans-serif;
}

#se{
  border-color: black;
  background-color: antiquewhite;
  color: #22282a;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Hind Siliguri', sans-serif;
}