*{
  padding: 0;
  margin:0;
}

@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

.App {
  text-align: center;
}
body{
  background-color: grey;
}
/* 
table button {
  width: 40px;
  height: 40px;
  color:red;
  background-color: black;
  border-radius: 50%;
} */

table button:hover {
border-color: greenyellow;
}

.tb{
  position: relative;
  left:14%;
  /* top:-4%; */
  height:40%; 
  text-align: center;
  width:500px;
  height:500px;
  /* background-color: aqua; */

} 

.tb table{
  position:absolute;
  /* top:2%; */
  /* left:2%; */
  /* background-colonr: brown; */
  /* opacity: 0.9; */
  /* background-color: grey; */
}
